code {
  background-color: rgb(250, 245, 245);
  border-radius: 3px;
  font-family: monospace;
  padding: 0 3px;
}

header {
  font-size: large;
  font-weight: bold;
  font-family: monospace;
}

body {
  background-color: rgb(248, 228, 228);
  text-justify: auto;
  height: 2000px;
}
